html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 9fr;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: lightslategray;
}

#todotitle {
  justify-self: left;
}

