html, body, #content {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#content {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 9fr;
}

header {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  background-color: lightslategray;
}

#headercontent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

#todotitle {
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  width: fit-content;
  font-size: 30px;
}


nav {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#navcontent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 4fr 8fr;
  align-items: space-between;
  background-color: gray;
}

.navsizing {
  border: none;
  background-color: gray;
  text-align: left;
  font-size: 20px;
  padding-left: 40px;
}

.navsizing:hover {
  background-color: rgba(90, 90, 90, 50%)
}

#todaybutton {
  grid-row: 1 / span 1;
}

#weekbutton {
  grid-row: 2 / span 1;
}

#projectnavtext {
  grid-row: 4 / span 1;
  font-size: 30px;
  height: 40px;
  align-self: center;
  padding-left: 2px;

}

#newprojectbutton {
  grid-row: 6 / span 1;
}

#mainpart {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#mainformpart {
  height: 80%;
  width: 80%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr repeat(8, 1fr)
}

#name_form {
  display: none;
  grid-row: 7 / span 1;
  padding-left: 0px;
}

#createdprojects {
  grid-row: 8 / span 1;
}

#createdprojectsgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

#maintitle {
  font-size: 40px;
}

#newtask {
  display: none;
  font-size: 20px;
  height: 50px;
  width: 100px;
}

#task_form {
  display: none;
}

#task {
  grid-column: 1 / span 7;
}

#taskgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}